/*-------------------form.css--------------------*/
/*
 * useraccount.jsp
 * adduser.jsp
 * signin.jsp
 * retrievepassword.jsp
 */
#textF
{
	float:right;
}

.tableMeteo
{
	width:100%;
	margin-left: 10px;
}
 
.tableMeteo table tr
{
	height:35px;
}

/*
 * Met en forme les formulaires
 */
fieldset
{
    padding: 10px;
    border: 1px #d6d6d6 solid;
    margin: 10px!important;
    border-radius:10px;
}

fieldset fieldset
{
	box-shadow:none;
}

/*
 * Met en forme la légende des formulaires
 */
legend
{
	font-size: 20px;
    font-weight: bold;
    color: #FF7900;
    background:white;
}

/*
 * Met en forme les champs de saisies
 */
.textfield
{
	background:white;
	border:1px #d6d6d6 solid;
	color:black;
	font-size:15px;
	margin-bottom:4px;
	border-radius:5px;
	font-weight:normal !important;
	resize: none;
}

.tableMeteo textarea
{
	float:right;
	width:49%;
	margin-right: 30px;
}

.paralegend
{
	font-style:italic;
	font-weight:normal;
	fonct-size:17px;
}

/*
 * Met en forme les messages d'erreur
 */
.error
{
    color: red;
    font-weight: bold;
}

/*
 * Met en forme les messages de validation
 */
.done
{
    color: green;
    font-weight: bold;
    
}

/*
 * Met en forme le bouton de validation, à la fin du formaulaire
 */
.lastButton
{
  background: #d6d6d6;
  font-family: Arial;
  color: #8f8f8f;
  font-size: 14px;
  padding: 3px 5px;
  text-decoration: none;
  cursor:pointer;
  border-radius:4px;
  box-shadow:1px 1px 5px #d6d6d6;
  font-weight:normal;
}

/*
 * Met en forme le bouton de validation, à la fin de la page, lors du survol de la souris 
 */
.lastButton:hover
{
  background: #C3BFBF;
  text-decoration: none;
  color:white;
}

#inputform
{
	margin-left:10px;
}

