/*-------------------general.css--------------------*/
/*
 * Met en forme le corps de la page
 */
.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-group>.btn-inactive {
  background-color: #607d8b;
}

.btn-group>.btn {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  padding: 0rem 1rem !important;
}

.btn-group>.btn-inactive:hover {
  background-color: #728F9D;
}

.btn-group>.btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

table.dataTable.nowrap th, table.dataTable.nowrap td{
	  white-space: normal !important;
}

.preloader-background {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #eee;
		opacity :0.85;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
}
	
.date {
	cursor: pointer;
	padding: 0.5rem !important;
	margin: 0rem 0.5rem;
	text-align: center;
}

.line {
	padding: 0 0.75rem;
	min-height: 1px;
}

.column {
	
}

#selectable .ui-selecting {
	background: #d6d6d6;
}

#selectable .ui-selected {
	background: #ff7900;
	color: white;
}

.goog-inline-block>input {
	max-height: 20px !important;
}

input[type="range"]:disabled {
	display: none;
}

.time {
	border: 1px solid #d6d6d6;
	margin-top: 20px;
	border-radius: 5px;
}

.inputTable {
	
}

input[type="range"]+.thumb, input[type="range"]::-moz-range-thumb {
	background-color: #ff7900 !important;
}

input[type="number"]::-moz-placeholder {
	color: #8f8f8f !important;
}

.dropdown-content li>span {
	color: #ff7900 !important;
}

.dropdown-content li.disabled>span {
	color: #8f8f8f !important;
}

main {
	flex: 1 0 auto;
}

fieldset {
	border-radius: 5px;
}

a.btn-flat i {
	margin-right: 15px !important;
}

nav ul a.btn-flat {
	margin: 0 !important;
}

table.responsive-table th {
	text-align: center !important;
}

table.responsive-table tr {
	padding: 0px !important;
}

.btn-flat {
	padding: 0 1rem !important;
}

.side-nav {
	background-color: #595959 !important;
}

body {
	font-family: Arial;
	background-color: #ffffff;
	margin: 0px;
	width: 100%;
	height: auto;
}

.row input {
	color: black;
	padding: 8px;
}

html {
	line-height: 1 !important;
}

* {
	box-sizing: unset;
}

.gris-darken-chart {
	background-color: #595959 !important;
	color: white !important;
}

.text-gris-darken-chart {
	color: #595959 !important;
}

.gris-light-chart {
	background-color: #d6d6d6 !important;
}

.text-gris-light-chart {
	color: #d6d6d6 !important;
}

.gris-chart {
	background-color: #8f8f8f !important;
	color: white;
}

.text-gris-chart {
	color: #8f8f8f !important;
}

.text-red-chart {
	color: #C0504D !important;
}

.orange-chart {
	background-color: #ff7900 !important;
	color: white;
}

.red-chart{
	background-color: #C0504D !important;
	color: white;
}

.text-orange-chart {
	color: #ff7900 !important;
}
.test{
	background-color: #595959 !important;
	color: white !important;
	width: 10%;
	height: 20%;
	position: relative;
}
.test2{
	background-color: #C0504D !important;
	color: white !important;
	width: 10%;
	height: 20%;
}
.green-chart {
	background-color: #50be87 !important;
	color: black !important;
}
.green-light-chart {
	background-color: #8cd9af !important;
	color: black !important;
}

.text-green-chart {
	color: #50be87 !important;
}

.white-chart {
	background-color: white !important;
	color: black !important;
}
.text-white-chart {
	color: #50be87 !important;
}
.bleu-chart {
	background-color: #4bb4e6 !important;
	color: black !important;
}

.bleu-light-chart {
	background-color: #B0E0E6 !important;
	color: black !important;
}

.text-bleu-chart {
	color: #4bb4e6 !important;
}

.violet-chart {
	background-color: #a885d8 !important;
	color: black !important;
}
.violet-light-chart {
	background-color: #DDA0DD !important;
	color: black !important;
}
.text-violet-chart {
	color: #a885d8 !important;
}

.yellow-chart {
	background-color: #ffd200 !important;
	color: black;
}

.text-yellow-chart {
	color: #ffd200 !important;
}


.gris-chart{
	background-color: rgb(89,89,89) !important;
	color: black;
}
.text-gris-chart{
	color: rgb(89,89,89) !important;
}

.rose-chart{
	background-color: rgb(255,180,230) !important;
	color: black;
}
.text-rose-chart{
	color: rgb(255,180,230) !important;
}

.carte {
	height: 100vh;
}

.rose-chart {
	background-color: #FFB4E6 ! important;
	color: black !important;
}

.text-rose-chart {
	color: #FFB4E6 ! important;
}

.carte div.carte3 {
	width: 50%;
	float: left;
	left: auto;
	right: auto;
	box-shadow: none;
	border-radius: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.carte div.carte {
	width: 50%;
	float: left;
	left: auto;
	right: auto;
	box-shadow: none;
	border-radius: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

i.chart-medium {
	font-size: 3rem;
	color: black !important;
}

i.chart-medium-white {
	font-size: 3rem;
	color: white !important;
}

i.chart-small-white {
	font-size: 2rem;
	color: white !important;
}

i.chart-small {
	font-size: 2rem;
	color: black !important;
}

.titleButton {
	width: 100%;
	height: 20%;
	font-size: 50px !important;
	color: black !important;
}

.titleButtonWhite {
	width: 100%;
	height: 20%;
	font-size: 50px !important;
	color: white !important;
}

.performance {
	background-image: url('img/performance.png') !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 80%;
	width: 100%;
}

.intervention {
	background-image: url('img/intervention.png') !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 80%;
	width: 100%;
}

.performance-tablet {
	background-image: url('img/performance-tablet.png') !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 80%;
	width: 100%;
}

.intervention-tablet {
	background-image: url('img/intervention-tablet.png') !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 80%;
	width: 100%;
}

.border2Grey {
	border-bottom: 1px solid #595959;
}

.grisFaible {
	background-color: #E3E3E3;
}

.noBorder {
	border-bottom: 0px solid !important;
}

.titleContrat1 {
	color: #ff7900;
}

.titleContrat2 {
	color: #ffb4e5;
}

.titleContrat3 {
	color: #4bb4e6;
}

.titleContrat4 {
	color: #ffd200;
}

.titleContrat5 {
	color: #a885d8;
}

.hidd {
	display: none;
}

.showed {
	display: block;
}

a.info {
	font-size: 11px;
	position: relative;
	color: black;
	text-decoration: none;
	border-bottom: 1px gray dotted; /* On souligne le texte. */
}

a.info span {
	display: none; /* On masque l'infobulle. */
}

a.info:hover {
	background: none; /* Correction d'un bug d'Internet Explorer. */
	z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
	cursor: help;
	/* On change le curseur par défaut par un curseur d'aide. */
}

a.info:hover span {
	display: inline; /* On affiche l'infobulle. */
	position: absolute;
	white-space: nowrap;
	/* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
	top: 30px; /* On positionne notre infobulle. */
	left: 20px;
	background: white;
	color: black;
	padding: 3px;
	border: 1px solid black;
	border-left: 4px solid black;
}