.boutonLogo{
	box-sizing: unset!important;
}

.help{
	width:20px!important;
	height:20px!important;
	float:right!important;
	background-image:url('img/assistance.png');
	z-index: -1!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
	margin:2px 2px!important;
}

.no-help{
	width:2px!important;
	height:2px!important;
	margin:11px 2px;
}

.material-tooltip{
	background : red;
	margin-left:10px;
}
//CARRE 

.para input{
	color: #8f8f8f;
	padding: 8px;
	width:20px!important;
	height:30px!important;
	float:right!important;

	z-index: -1!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
	margin:2px 2px!important;
}


*
{
	box-sizing:border-box !important;
}
ul.topnav li input
{
	margin-top:10px;
	color:#d6d6d6;
}
li a 
{
	box-sizing: unset !important;
}

a input
{
	cursor:pointer;
	background:none;
	font-weight:normal!important;
}

a:hover .bouttonBas{
	padding-top:60px;
	transition:all 0.5s;
}

.synthese
{
	background-image:url(img/logo_itp.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
}

.donneeFormulaire{
	background-image:url(img/Keyboard_itp.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
}

.log{
	background-image:url(img/Setting.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
}
.info{
	background-image:url(img/Information_data.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
}

.gestionProjet{
	background-image:url(img/Presentation_itp.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
}
.parameterAdmin{
	background-image:url(img/Maintenance.png)!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
	background-size: 90px 90px !important;
}

.GenerationGraph img{
	width: 90px !important;
	margin-top:30px;
	margin-bottom: 40px;
	margin-left: auto!important;
	margin-right: auto;
}

.generationHelp{
	margin-top:33px;
}

.bouttonHaut{
	padding:20px;
	cursor:pointer;
	width:100%;
	height:150px;
}

.bouttonBas{
	cursor:pointer;
	width:100%;
	height:100%;
}

.bouttonBasIcon{
	height:132px;
}

.main{
	margin: ;
}
	
.main div{
	height:250px;
}

i img{
		margin:0 !important;
	}
/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}

.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-team:before {
	content: "\e000";
}

.icon-blog:before {
	content: "\e001";
}

.icon-home:before {
	content: "\e002";
}

.icon-portfolio:before {
	content: "\e003";
}

.icon-services:before {
	content: "\e004";
}

.icon-contact:before {
	content: "\e005";
}

.icon-menu:before {
	content: "\f0c9";
}

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Global CSS that are applied for all screen sizes */

.nav{
	margin:10px 10px 0px 10px;
}

.nav ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	transition: color .5s, background .5s, height .5s;
}

.nav i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .nav ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .nav ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.nav li:nth-child(6n+1) {
	background-color:#ff7900;
}

.nav li:nth-child(6n+2) {
	background-color:#595959;
}

.nav li:nth-child(6n+3) {
	background-color:#8f8f8f;
}

.nav li:nth-child(6n+4) {
	background: #50BE87;
}

.nav li:nth-child(6n+5) {
	background: #4bb4e6;
}

.nav li:nth-child(6n+6) {
	background-color:#a885d8;
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 16.66666666666667%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.nav a {
		display: block;
		width: auto;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch .nav li:nth-child(6n+1) a:hover,
	.no-touch .nav li:nth-child(6n+1) a:active,
	.no-touch .nav li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid #B25500;
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid #A5A5A5;
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid #595959;
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid #307151;
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid #215066;
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid #453658;
	}

	/* Placing the icon */

	.icon + span {
		margin-top: 0em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.nav a {
		height: 9em;
	}

	.no-touch .nav a:hover ,
	.nav a:active ,
	.nav a:focus {
		height: 10em;
	}	

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icon + span {
		margin-top: 1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}
	
	a:hover .bouttonBas{
		padding-top:40px;
	}
}

@media (min-width: 800px) and (max-width: 980px)
{
	a:hover .bouttonBas{
		padding-top:15px;
	}
	
	.bouttonBasIcon{
		height:60px;
	}
	
	.main div{
		height:170px;
	}
}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.nav ul {
		font-size: 1em;
	}

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {		
	
	/* Instead of adding a border, we transition the background color */
	.no-touch .nav ul li:nth-child(6n+1) a:hover,
	.no-touch .nav ul li:nth-child(6n+1) a:active,
	.no-touch .nav ul li:nth-child(6n+1) a:focus {
		background: rgb(227, 119, 20);
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		background: #646464;
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		background: #A0A0A0;
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		background: #45A475;
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		background: #3A8CB3;
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		background: #8066A5;
	}

	.nav ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}	

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {
	
	/* Creating the 2 column layout using floating elements once again */
	.nav li {
		display: block;
		float: left;
		width: 50%;
	}

	/* Displaying the icons on the left, and the text on the right side using inlin-block*/
	.nav li span, 
	.nav li span.icon, .bouttonBasIcon{
		display: inline-block;
	}

	.nav li span.icon{
		width: 100%;
	}

	.nav li .icon + span {
		font-size: 1em;
	}

	.icon+ span {
		position: relative;
		top: -0.2em;
	}
	
	.nav li span.bouttonBasIcon{
		width:100%;
	}
	
	.nav li .bouttonBasIcon + span {
		font-size:1em;
	}
	
	.bouttonBasIcon+ span{
		position:relative;
		top:-0.2em;
	}

	a:hover .bouttonBas{
	padding-top:0px;
	transition:none;
	}

	/* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
	.nav li input {
		display: inline-block;
		padding:0% 5%;
		font-size: 1em;
	}
	
	.bouttonBas{
		font-size:0.7em;
	}
	
	.bouttonHaut{
		padding:5% 5%!important;
	}
	
	.main div{
	height:0px
	}
}

/* Adapting the font size and width for smaller screns*/
@media screen and (max-width: 38.688em) {
	
	.nav li span.icon {
		width: 100%;
	}

	.nav li .icon + span {
		font-size: 0.8em;
	}
	
	a:hover .bouttonBas{
		padding-top:0px;
	}
	
	.bouttonBas{
		font-size:25px;
	}
	
}

@media screen and (max-width: 520px){
	.main div{
		height:1296px;
	}
}