li[tabindex]>a {
	pointer-events: none;
}

li[tabindex]:before {
	content: '+';
	float: right;
	padding-right: 0.5em;
	font-weight: bold;
	color: white;
	font-size: 120%;
	line-height: 26px;
}

li[tabindex]:focus:before {
	content: '-';
}

li:focus {
	pointer-events: none;
} /* referme le menu */
li:focus ul li a {
	pointer-events: auto;
} /* maintient l'interaction des liens de sous menu avec la souris*/

[type="checkbox"]:checked + label::before{
	top: 0px !important;
	left: 0px !important;
	border: 0px transparent !important;
	content:"-";
	transform: none !important
}

 [type="checkbox"] + label::before {
	top: 0px !important;
	left: 0px !important;
	border: 0px transparent !important;
	content:"+"; 
	margin-top:5px;
 }

.ac-input [type="checkbox"] + label ::before {
	border: none !important;
}

.container {
  width: 40em;
  margin: 10px auto;
}

.ac-label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+" !important;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  transition: background-color .15s ease-in-out;
}

.ac-input:checked + .ac-label:after {
  content: "-" !important;
}

.ac-input {
  display: none;
}

.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
  opacity: 1;
  height: auto;
}

.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none !important;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}